version: '3.8'

services:
  odoo:
    build: .
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
    # Keep the container running
    command: tail -f /dev/null

  db:
    image: postgres:13
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_DB=postgres
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    restart: always

volumes:
  odoo-db-data:
